html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(135deg, #81AED9 -100%, #E4E9FD 100%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  position: relative;
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  word-wrap: break-word;
}

.wrap {
  word-wrap: break-word;
}

.box--2 {
  position: relative;
}

#heading {
  background-color: #81AED9;
  text-align: center;
}

.form-div {
  height: 100%;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #81AED9;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

.button-click {
  position: absolute;
  height: 250%;
  width: 50%;
  top: 0;
  font-size: 1.2rem;
  background-color: #81AED9;
  border-radius: 5px;
  border: none;
  color: #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s all;
}

.button-click:hover {
  background-color: #598bbb;
}

.flex-space-apart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.button-click--left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  left: 0;
}

.button-click--left::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 16%;
  left: 99.8%;
  height: 30px;
  width: 2px;
  background-color: #F1F1F1;
  z-index: 1;
}

.button-click--right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  right: 0;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

.button-round {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #81AED9;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  transition: .3s all;
}

.button-round:hover {
  background-color: #598bbb;
}


.button-round--2 {
  min-height: 50px;
  /* width: 50px; */
  border-radius: 5px;
  border-color: transparent;
  background-color: #81AED9;
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 6px;
  margin-right: 1rem;
  border-width: 0;
  transition: .3s all;
  height: 90%;
  width: 25%;
}

.button-round--2:hover {
  background-color: #598bbb;
}


.button-round--3 {
  min-height: 50px;
  /* width: 50px; */
  border-radius: 5px;
  border-color: transparent;
  background-color: #81AED9;
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 6px;
  margin-right: 1rem;
  border-width: 0;
  transition: .3s all;
  height: 90%;
  width: 117%;
  transform: translate(-1.8rem);
}

.button-round--3:hover {
  background-color: #598bbb;
}



input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

.width-modifier {
  width: 94%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #81AED9;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}